@{
    ViewData["Title"] = "Adding Events";
}

<div>
    <h3>Add a new House to Sell</h3>
    <form>
        <label>MLS Link</label>
        <input type="text" name="MLSLink">

        <label>Open House Date</label>
        <input type="text" name="OpenHouseDate">

        <label>Area of the house thats going to be featured</label>
        <input type="text" name="AreaOfHouseToFeature">

        <label>Price</label>
        <input type="text" name="Price">

        <label>Zip Code</label>
        <input type="text" name="Zip">

        <button>Add New Home</button>
    </form>
</div>