@{
    ViewData["Title"] = "Infinterest - Vendor Profile";
}

@section css {  
  <link href="@Url.Content("~/css/profilestyle.css")" rel="stylesheet" type="text/css" />
}
<div class="grey">
    <nav class="header"> 
      <a href="/dashboard"><img src="../images/white-nosub-inflogo.png" alt="logo" class="whitelogo"></a> 
      <div class="navlinks">
          <a class="nav-link" href="/dashboard">Home</a>
          <a class="nav-link" href="/messaging">Messaging</a>
          <!-- <a class="nav-link" href="/profile">Profile</a> -->
          <a class="nav-link" href="http://infinterest.com/#home">About</a>
          <a class="nav-link" href="/logoff">Sign out</a>
      </div>
    </nav>
    <div class="container"> 
      <div id="broker-profile"> 
        <div class="shadow-box top-box">
          <div>
            <img class="profile-pic" src="../images/headshot2.jpg" alt="">
          </div>
          <div>
            <h3>Josh McGee</h3>
            <h4>Remax</h4>
            <p>Working in Seattle and the Eastside for 20 years.</p>
            <div class="star-ratings-sprite">
              <span style="width:89%" class="star-ratings-sprite-rating"></span> 
            </div>
            <p class="d-inline">53 reviews </p>
          </div>
          <div>
            <button type="button" class="favBut btn btn-outline-light">
                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Favorite
                </button>
                <button type="button" class="btn btn-outline-light ml-4">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Message
                </button><br><br>
          </div> 
        </div>
        <div class="shadow-box contact-info">
          <a class="d-block" href="/remax.com">Remax.com/josh-mcgee</a>
          <p>(206)708-6836</p>
          <p>Twitter here</p>
          <p>Linked in</p>
          <p>Instagram here</p>
        </div>
        <div class="shadow-box reviews">
          Reviews here lorem20
        </div>
        <div class="shadow-box youTube">
          
            <iframe src="https://www.youtube.com/embed/w3qFRzWXvWA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          
        </div>
        <!-- Vendors have images, but brokers don't -->
        <!-- <div class="shadow-box row3-box">
          <img class="" src="../images/sample.jpg" alt=""> 
          <img class="" src="../images/sample2.jpg" alt="">
        </div> -->
      </div>
    </div>
</div>
