@{
    ViewData["Title"] = "Infinterest - Vendor Profile";
}

@section css {
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/profilestyle.css")" rel="stylesheet" type="text/css" />
    <!-- <link rel="stylesheet/less" type="text/css" href="@Url.Content("~/css/styles.less")" /> -->
}
<div class="grey"> 
<nav> 
    <a href="/dashboard"><img src="../images/white-nosub-inflogo.png" alt="logo" class="whitelogo"></a> 
    <div class="navlinks">
        <a class="nav-link" href="http://infinterest.com/#home">About</a>
        <a class="nav-link" href="/messaging">Messaging</a>
        <a class="nav-link" href="/profile">Profile</a>
        <a class="nav-link" href="/logoff">Sign out</a>
    </div>
</nav>
  <div class="container mt-5 business-profile white-box"> 
      <div class="row">
          <div class="col-sm-2 col-md-4 col-lg-2">
            <img class="user-logo" src="../images/headshot6.jpg" alt="">
          </div>
          <div class="col-sm-7 col-md-8 col-lg-6">
            <h3>Mark Jacob</h3>
            <p>Remax Real Estate</p>
            <div class="star-ratings-sprite"><span style="width:89%" class="star-ratings-sprite-rating"></span> 
            </div>
            <p class="d-inline">53 reviews </p>
          </div>

          <div class="col-sm-3 col-lg-4 p-4">
            <button type="button" class="favBut btn btn-outline-light">
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Favorite
            </button>
            <button type="button" class="btn btn-outline-light ml-4">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Message
            </button><br><br>
            <p>Remax.com/mark-jacob | (206) 708-6836</p>
          <p></p>
          <p>Contact Name: Mark Jacob</p>
          </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-5 pl-0">
        <div class="white-box">
          <iframe width="430" height="300" src="https://www.youtube.com/embed/w3qFRzWXvWA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="white-box col-7 right-col">
        <div class="row">
          <div class="col">
            <img class="" src="../images/sample.jpg" alt=""> 
          </div>
          <div class="col">
            <img class="" src="../images/sample1.jpg" alt="">
          </div>
          <div class="col">
            <img class="" src="../images/sample2.jpg" alt="">
          </div>
          <div class="col">
            <img class="" src="../images/sample1.jpg" alt="">
          </div>
      </div>
    </div>
  </div>
</div>