@{
    ViewData["Title"] = "Infinterest - Vendor Profile";
}

@section css {
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/profilestyle.css")" rel="stylesheet" type="text/css" />
    <!-- <link rel="stylesheet/less" type="text/css" href="@Url.Content("~/css/styles.less")" /> -->
}
<div class="grey"> 
<nav class="header"> 
    <a href="/dashboard"><img src="../images/white-nosub-inflogo.png" alt="logo" class="whitelogo"></a> 
    <div class="navlinks">
        <a class="nav-link" href="http://infinterest.com/#home">About</a>
        <a class="nav-link" href="/messaging">Messaging</a>
        <a class="nav-link" href="/profile">Profile</a>
        <a class="nav-link" href="/logoff">Sign out</a>
    </div>
</nav>
    <div class="container mt-5 business-profile shadow-box"> 
      <div class="row">
          <div class="col-sm-2 col-md-4 col-lg-2">
            <img class="user-profile" src="../images/headshot2.jpg" alt="">
          </div>
          <div class="col-sm-7 col-md-8 col-lg-6">
            <h3>JJs Real Estate</h3>
            <p>Working in Seattle and the Eastside for 20 years.</p>
            <div class="star-ratings-sprite"><span style="width:89%" class="star-ratings-sprite-rating"></span> 
            </div>
            <p class="d-inline">53 reviews </p>
          </div>

          <div class="col-sm-3 col-lg-4 p-4">
            <button type="button" class="favBut btn btn-outline-light">
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Favorite
            </button>
            <button type="button" class="btn btn-outline-light ml-4">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Message
            </button><br><br>
            <p>jjs.com/josh-mcgee | (206) 708-6836</p>
          <p></p>
          <p>Contact Name: Josh McGee</p>
          </div>
    </div>
  </div>
 
  <div class="container mt-5">
    <div class="row">
      <div class="col-3 pl-0">
        <div class="shadow-box">
          <p>Remax.com/mark-jacob</p>
          <p>(206) 708-6836</p>
          <p>Mark Jacob</p>
           <img class="user-logo" src="../images/sample2.jpg" alt="">

        </div>
          
      </div>
      <div class="shadow-box col-9 right-col">
        <div class="row">
          <div class="col">
            <img class="" src="../images/sample.jpg" alt=""> 
          </div>
          <div class="col">
            <img class="" src="../images/sample1.jpg" alt="">
          </div>
          <div class="col">
            <img class="" src="../images/sample2.jpg" alt="">
          </div>
          <div class="col">
            <img class="" src="../images/sample1.jpg" alt="">
          </div>
        

          
      </div>

    </div>
  </div>
  <div class="container mt-5">
    <div class="white-box row">
    <div class="row">
      <iframe width="540" height="400" src="https://www.youtube.com/embed/w3qFRzWXvWA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    </div>    
  </div>
</div>
</div>