@{
    ViewData["Title"] = "Dashboard";
}

@section css {
    <link href="@Url.Content("~/css/dashboardstyle.css")" rel="stylesheet" type="text/css" />
}

<div id="dashboard container">
    <nav>
        <a href="#"><img src="../images/infinterestlogo.png" alt="logo" class="logo"></a>
        <div class="navlinks">
            <a class="nav-link" href="#">About<span class="sr-only">(current)</span></a>
            <a class="nav-link" href="#">Sign up</a>
            <a class="nav-link login" href="#">Log in</a>
        </div>
    </nav>
</div>