@{
    ViewData["Title"] = "Home Page";
}

<div id="homecontainer">
    <img src="../images/infinterestlogo.png" alt="logo" class="logo">
    <div id="searcharea">
        <div class="input-group mb-3">
            <input type="text" class="form-control">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary btn-info" type="button">Search</button>
            </div>
        </div>
        <div class="result">
            <img src="../images/kitchen-1799712_960_720.jpg" alt="kitchenpic" class="respic">
            <div class="resinfo">
                <h4>1234 Address Way</h4>
                <h4>Cityville, WA 90528</h4>
                <h6>Dec. 32, 2020</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac est odio. Fusce lacus diam, elementum eget elit in, ultrices consectetur sapien. Aenean tincidunt hendrerit tempus.</p>
                <a href="#"><h5>Details</h5></a>
            </div>
        </div>
        <div class="result">
            <img src="../images/kitchen-1799712_960_720.jpg" alt="kitchenpic" class="respic">
            <div class="resinfo">
                <h4>1234 Address Way</h4>
                <h4>Cityville, WA 90528</h4>
                <h6>Dec. 32, 2020</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac est odio. Fusce lacus diam, elementum eget elit in, ultrices consectetur sapien. Aenean tincidunt hendrerit tempus.</p>
                <a href="#"><h5>Details</h5></a>
            </div>
        </div>
        <div class="result">
            <img src="../images/kitchen-1799712_960_720.jpg" alt="kitchenpic" class="respic">
            <div class="resinfo">
                <h4>1234 Address Way</h4>
                <h4>Cityville, WA 90528</h4>
                <h6>Dec. 32, 2020</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac est odio. Fusce lacus diam, elementum eget elit in, ultrices consectetur sapien. Aenean tincidunt hendrerit tempus.</p>
                <a href="#"><h5>Details</h5></a>
            </div>
        </div>
    </div>
    <div id="loginarea">
        <form action="/existing-user" method="post">
            <input id="EmailLogin" name="EmailLogin" type="text" class="form-control inputs" placeholder="email">
            <input id="PasswordLogin" name="PasswordLogin" type="password" class="form-control inputs" placeholder="password">
            <button class="btn btn-info login" type="submit">Login</button>
            <button class="btn btn-info signup">Sign Up</button>
            <p class="errors">@ViewBag.Error</p>
        </form>
    </div>
</div>