@{
    ViewData["Title"] = "Home Page";
}

@section css {
    <link href="@Url.Content("~/css/indexstyle.css")" rel="stylesheet" type="text/css" />
}

    <div id="homecontainer">
        <nav>
            <a href="#"><img src="../images/black-sub-inflogo.png" alt="logo" class="logo"></a>
            <div class="navlinks">
                <a class="nav-link" href="#">About<span class="sr-only">(current)</span></a>
                <a class="nav-link" href="#">Sign up</a>
                <a class="nav-link login" href="#">Log in</a>
            </div>
        </nav>
        <div class="searchbox">
            <h4>Search Upcoming Open House Events.</h4>
            <form>
                <div class="form-group whereinput">
                  <label for="zipcode">Where</label>
                  <input type="text" class="form-control"placeholder="Zip Code">
                </div>
                <div class="form-group">
                <label for="zipcode" class="when">When</label>
                  <input type="date" class="form-control daterange" placeholder="Start Date">
                    <label>to</label>
                  <input type="date" class="form-control daterange" placeholder="End Date">
                </div>
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
            <div class="loginbox">
                <form>
                    <i class="fas fa-times-circle"></i>
                    <div class="form-group logformgroup">
                      <input type="text" class="form-control logformcon" placeholder="Email">
                    </div>
                    <div class="form-group logformgroup">
                      <input type="text" class="form-control logformcon" placeholder="Password">
                    </div>
                    <button class="btn btn-primary logbutton" type="submit">Log in</button>
                </form>
        </div>
        <div class="carrot">
            <i class="fas fa-chevron-down"></i>
        </div>
    </div>
    <div id="secondarycontainer">
        <div class="result">
            <img src="../images/kitchen-1799712_960_720.jpg" alt="kitchenpic" class="respic">
            <div class="resinfo">
                <h4>1234 Address Way</h4>
                <h4>Cityville, WA 90528</h4>
                <h6>Dec. 32, 2020</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac est odio. Fusce lacus diam, elementum eget elit in, ultrices consectetur sapien. Aenean tincidunt hendrerit tempus.</p>
                <a href="#"><h5>Details</h5></a>
            </div>
        </div>
        <div class="result">
            <img src="../images/kitchen-1799712_960_720.jpg" alt="kitchenpic" class="respic">
            <div class="resinfo">
                <h4>1234 Address Way</h4>
                <h4>Cityville, WA 90528</h4>
                <h6>Dec. 32, 2020</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac est odio. Fusce lacus diam, elementum eget elit in, ultrices consectetur sapien. Aenean tincidunt hendrerit tempus.</p>
                <a href="#"><h5>Details</h5></a>
            </div>
        </div>
        <div class="result">
            <img src="../images/kitchen-1799712_960_720.jpg" alt="kitchenpic" class="respic">
            <div class="resinfo">
                <h4>1234 Address Way</h4>
                <h4>Cityville, WA 90528</h4>
                <h6>Dec. 32, 2020</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac est odio. Fusce lacus diam, elementum eget elit in, ultrices consectetur sapien. Aenean tincidunt hendrerit tempus.</p>
                <a href="#"><h5>Details</h5></a>
            </div>
        </div>
    </div>