@{
    ViewData["Title"] = "Profile";
}

<div class="container"> 
<p>Edit Profile Page</p>

<table class="table">
  <tbody>
    <tr>
      <th scope="row">First Name</th>
      <td>Mark<br>
        <a href="edit">Edit</a>
      </td>
    </tr>
    <tr>
      <th scope="row">Last Name</th>
      <td>Jacob<br>
        <a href="edit">Edit</a>
      </td>
      
    </tr>
   
  </tbody>
</table>

    
</div>