<!-- model Vendor -->
@{
    ViewData["Title"] = "Infinterest Vendor Registration";
}

<div class="container"> 
    <!-- <form class="form-group" asp-action="NewVendor" asp-controller="Home" method="post"> -->
    <form class="form-group" action="/dashboard" method="get">

        <h1>Vendor Registration</h1>
        <!-- Fields common to all users -->
        <label for="FirstName">First Name:</label>
        <input id="FirstName" class="form-control"><br><br>

        <label for="LastName">Last Name:</label>
        <input id="LastName" class="form-control"><br><br>

        <label for="Email">Email:</label>
        <input id="Email" class="form-control" type="email">
        <small id="Email" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <br><br>

        <label for="Password">Password:</label>
        <input id="Password" class="form-control" type="password"><br><br>

        <label for="PasswordConfirm">Confirm password:</label>
        <input id="PasswordConfirm" class="form-control" type="password"><br><br>

        <!-- Fields common to vendor and broker -->
        <!-- <p><span class="errors" asp-validation-for="Contact"></span></p>
        <label asp-for="Contact"></label>
        <input class="form-control" asp-for="Contact"><br><br> -->
        <label for="Contact">Contact name if different:</label>
        <input class="form-control" id="Contact"><br><br>

        <label for="Website">Website:</label>
        <input class="form-control" id="Website"><br><br>

        <label for="Number">Phone Number:</label>
        <input class="form-control" id="Number"><br><br>

        <!-- <p><span class="errors" asp-validation-for="Bio"></span></p> -->
        <!-- <label asp-for="Bio"></label>
        <input class="form-control" asp-for="Bio"><br><br> -->
        <label for="Bio">Bio:</label>
        <textarea class="form-control" id="Bio" rows="3"></textarea><br><br>

        <label for="Logo">Logo:</label>
        <input type="file" class="form-control-file" id="Logo"><br><br>

        <!-- Fields unique to vendor -->
        <!-- <p><span class="errors" asp-validation-for="Company"></span></p> -->
        <label for="Company">Company:</label>
        <input id="Company" class="form-control"><br><br>

        <!-- <p><span class="errors" asp-validation-for="AreaOfHouse"></span></p> -->
        <!-- <label asp-for="AreaOfHouse">Area:</label>
        <input asp-for="AreaOfHouse" class="form-control"><br><br> -->
        <label for="AreaOfHouse">Area of home:</label>
        <input id="AreaOfHouse" class="form-control"><br><br>
       
        <!-- <p><span class="errors" asp-validation-for="BusinessCategory"></span></p> -->
        <!-- <label asp-for="BusinessCategory">Business Category:</label>
        <input asp-for="BusinessCategory" class="form-control"><br><br> -->
        

        <label for="">Business Category:</label>
        <div class="checkbox">
            <input type="checkbox" id="Landscaping" name="BusinessCategory" value="Landscaping">
            <label for="Landscaping">Landscaping</label>
        </div>
        <div class="checkbox">
            <input type="checkbox" id="Photography" name="BusinessCategory" value="Photography">
            <label for="Photography">Photography</label>
        </div>    
        <div class="checkbox">
            <input type="checkbox" id="MusiciansDJs" name="BusinessCategory" value="MusiciansDJs">
            <label for="MusiciansDJs">Musicians / DJs</label>
        <div class="checkbox"> 
            <input type="checkbox" id="InteriorDecorators" name="BusinessCategory" value="InteriorDecorators">
            <label for="InteriorDecorators">Interior Decorators</label>
        </div>
        <div class="checkbox">
            <input type="checkbox" id="FoodCatering" name="BusinessCategory" value="FoodCatering">
            <label for="FoodCatering">Food / Catering</label>
        </div>
        <div class="checkbox">
            <input type="checkbox" id="Home-based" name="BusinessCategory" value="Home-based">
            <label for="Home-based">Home-based Businesses (Candles, Soaps, Etc.)</label>
        </div>
        <div class="checkbox">
            <input type="checkbox" id="Other" name="BusinessCategory" value="other">
            <label for="Other">Other (list)</label>
            <input class="form-control" type="text" id="otherValue" name="other">
        </div>

        <button class="checkout btn" type="submit">Complete Registration</button> 
    
    </form><br><br>

    <p class="errors">@ViewBag.ErrorReg</p>

</div>