

#event-details{
    margin-top: 15px;
    height: 100%;
}

.respic{
    margin: 3%;
}

.resinfo{
    display: inline-block;
    width: 50%;
    text-align: center;
}

#event-details h6{
    font-size: 20px;
}

.ultimatecontainer{
    background-image: url("../images/open-house.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#event-details h4 {
    color: black;
    /* font-weight: bold; */
    font-size: 28px;
    line-height: 30px;
    text-align: center;
}



