#broker-profile{
  margin-top: 1em;
  margin-bottom: 2em;
}

/* .contact-info{
  max-height: 200px;
} */

.youTube iframe{
  width: 100%;
  /* width: 540px;
  height: 400px; */
}
/* Social Media Icons */
.contact-info i{
  margin: 0px 10px 10px;
  font-size: 1.5em;
}

/* Buttons */
.btn {
  height: 30px;
  width: 100px;
}
.btn-outline-primary{
    border-color: #343a40 !important;
    color: #343a40 !important;

  }

a{
  margin: 0 0 10px;
}

/* Picture for broker and logo for Vendor */
@media (max-width: 480px){
  .profile-pic{
    margin-top: -28px;
  }
  .top-box{
    min-height: 350px;
  }
  /* Vendor will be logo and Broker will be picture of self */
  .profile-pic{
    width: 100%;
    /* margin-top: -35px; */
  }
}
@media (max-width: 767px){

}

@media (min-width: 481px) {
  #broker-profile{
    display: grid;
    grid-gap:1em;
    margin-top: 2em;
    grid-template-columns:repeat(5, 1fr);
    grid-template-rows:repeat(5, 1fr)

    /* grid-auto-rows:minmax(100px, auto); */
    /* justify-items:stretch;
    align-items:stretch; */
  }
  .top-box{
    display: flex;
    grid-column:1/6;
    grid-row:1/2;
    justify-content: space-between;
    flex-flow: row wrap;
    /* height: 100px !important ; */
    /* flex-wrap: wrap; */
  }
  .top-box > div{
    flex: 1; 
  } 
  /* Vendor will be logo and Broker will be picture of self */
  .profile-pic{
    width: 75%;
    /* margin-top: -35px; */
  }
  .youTube{
    grid-column:3/6;
    grid-row:2/4;
    text-align: center;
  }
  .youTube iframe{
  width: 100%;
  width: 540px;
  height: 400px;
  /* margin: auto auto; */
  }
  .contact-info{
    grid-column:1/2;
    grid-row:2/4;
    max-height: 200px;
  }
}

/* Rating */
/* (../images/stars.png) */
.star-ratings-sprite {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    font-size: 0;
    height: 21px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 110px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 13px;
}
.star-ratings-sprite-rating {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display:block;
}