#broker-profile{
  margin-top: 1em;
  margin-bottom: 2em;
}
/* Vendor will be logo and Broker will be picture of self */
.profile-pic{
  width: 100%;
  /* margin-top: -35px; */
}
.contact-info{
  max-height: 200px;
}
.youTube{
}
.top-box{
  min-height: 350px;
}
.youTube iframe{
  width: 100%;
  /* width: 540px;
  height: 400px; */
}

/* Buttons */
.btn {
  height: 30px;
  width: 100px;
}
.btn-outline-primary{
    border-color: #343a40 !important;
    color: #343a40 !important;

  }
  /* Not working - not sure why */

/* h3{
  margin-top: 0;
} */
a{
  margin: 0 0 10px;
}

/* Picture for broker and logo for Vendor */
@media (max-width: 360px){
  .profile-pic{
    margin-top: -28px;
  }
}

@media (min-width: 700px) {
  #broker-profile{
    display: grid;
    grid-gap:1em;
    margin-top: 2em;
    grid-template-columns:1fr 3fr;
    grid-template-rows:1fr 2fr 2fr 2fr;

    /* grid-auto-rows:minmax(100px, auto); */
    /* justify-items:stretch;
    align-items:stretch; */
  }
  .top-box{
    display: flex;
    grid-column:1/5;
    grid-row:1/2;
    /* flex-wrap: wrap; */
  }
  .top-box > div{
    flex: 1;
    /* flex-basis: 150px; */
  }
  .contact-info{
    grid-column:1/2;
    grid-row:2/4;
    max-height: 200px;
  }
  .reviews{
    grid-column:2/5;
    grid-row:2/4;
    height: 350px;
  }
  .youTube{
    grid-column:2/5;
    grid-row:4/6;
  }
  /* .row3-box{
  grid-column:2/5;
  grid-row:6/8;
} */

}

/* Rating */
/* (../images/stars.png) */
.star-ratings-sprite {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    font-size: 0;
    height: 21px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 110px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 13px;
}
.star-ratings-sprite-rating {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display:block;
}