/* Site Styling */
/* NavBar */
.whitelogo{
    width: 8%;
    display: inline-block;
    vertical-align: text-top;
    margin: 1%;
}

nav{
    background-color: black;
    /* box-shadow: 0 8px 6px -6px black; */
}

.navlinks{
    display: inline-block;
    vertical-align: text-top;
    float: right;
    padding-top: 2%;
    width: 45%;
    height: 100%;
}

.nav-link{
    color: white;
    padding-left: 5% !important;
    padding-right: 5% !important;
    display: inline-block;
    font-size: 20px;
}

.nav-link:hover{
    color: #35BFFF;
    text-decoration: none;
}

.script-font {
    font-family: 'affectionately_yoursregular', arial, sans-serif;
}

.grey {
    background: #F5F5F5
}
.white-box {
    background: white;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    padding: 10px;
}
.accent-color {
    background: #35BFFF;
}

