*{
    font-family: Arial, Helvetica, sans-serif;
}

.grey {
    background: #F5F5F5
}
.white-box {
    background: white;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    padding: 10px;
}